@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #29af0f;
  --dark-green: #175b0a;
  --grey: #d1d0d0;
  --medium-grey: #9e9e9e;
  --dark-grey: #272727;
  --off-white: #f1f1f1;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.75;
}

a {
  color: var(--off-white);
}

nav {
  background-color: var(--grey);
  /* background-image: url(images/rock-background.jpg); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav img {
  width: 90px;
  height: auto;
  margin: 20px;
}

nav h1 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--green);
  text-shadow: black 3px 3px 3px;
  line-height: 1.2;
  font-size: 48px;
}

nav p {
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  color: black;
  line-height: 1.2;
  font-size: 22px;
}

nav ul {
  list-style-type: none;
  display: flex;
  border-top: 5px solid var(--dark-grey);
}

nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

nav ul li a {
  padding: 20px 40px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: var(--medium-grey);
  text-decoration: underline solid var(--dark-green) 2px;
}

.selected {
  font-weight: bold;
  color: var(--dark-green);
}

main {
  padding: 40px 20px;
  border-top: 10px solid var(--dark-green);
  border-bottom: 10px solid var(--dark-green);
  background-color: var(--dark-grey);
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  font-size: 36px;
  text-align: center;
}

main h3 {
  font-size: 28px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  margin: 0 75px 50px 75px;
  width: 560px;
}

.post > *,
.about > *,
.bio > *,
.contact > * {
  margin: 15px;
}

.post hr {
  border: 2px solid var(--dark-green);
  width: 70%;
  margin: 0 auto;
}

.post button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

hr {
  border: 1px solid var(--dark-green);
  width: 70%;
  margin: 50px auto;
}

.bio,
.about,
.contact {
  width: 60%;
}

.bio img {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.bio h3 {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact h2 {
  text-align: left;
}

.contact img {
  width: 426px;
  height: 178px;
}

.contact-method {
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.contact-method img {
  width: 30px;
  height: auto;
  margin-right: 25px;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.film {
  width: 560px;
  margin: 25px;
}

.other-projects {
  margin: 50px 25px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.other-projects ul {
  max-width: 60%;
}

.other-projects a:hover {
  color: var(--green);
}

.other-projects img {
  width: 400px;
  height: auto;
}

footer {
  font-size: 12px;
  background-color: var(--grey);
  width: 100%;
}

footer div {
  width: 70%;
  margin: 0 auto;
  padding: 25px;
}

footer a {
  color: black;
}

@media (max-width: 700px) {
  nav img {
    width: 60px;
    height: auto;
    margin: 10px;
  }

  nav h1 {
    font-size: 40px;
  }

  nav p {
    font-size: 18px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    border-top: 5px solid var(--dark-grey);
  }

  nav ul li {
    font-size: 14px;
    text-transform: uppercase;
  }

  nav ul li a {
    padding: 10px 20px;
  }

  nav ul li a:hover {
    background-color: var(--medium-grey);
    text-decoration: underline solid var(--dark-green) 2px;
  }
}
